@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

.crawl{
  position: absolute;
  top:auto;
	width: 18em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 300%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
  animation:scroll-up-to-transparent 15s linear infinite;
  z-index:1;
  /*height:100%;*/
}
#crawl:after{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

h4{
  color:#fbf512;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  margin: 35% auto;
  /*position:relative;*/
  /*width:100%;*/
  /*font-size:1.5em;*/

}
@keyframes scroll-up-to-transparent{
  0% {top:100%; opacity:1.0}
  90% { opacity: 1.0}
  100% {
    top:-100%;
    transform: rotate3d(0,0,40deg);
    opacity: 0;
  }
}
